<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/computerdetails?createDatabaseIfNotExist=true
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.pool_size">10</property>

        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>

        <!--Change it to 'create' if DB not exists-->
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="by.gstu.computerdetails.entity.Monitor"/>
        <mapping class="by.gstu.computerdetails.entity.MatrixType"/>
        <mapping class="by.gstu.computerdetails.entity.ScreenResolution"/>
    </session-factory>
</hibernate-configuration>